﻿body { background-color: maroon;
     color: #000000;
     font-family: Verdana, Arial, sans-serif; }
header { background-color: #CCAA66;
       background-position: center;
       background-repeat: no-repeat;
       color: maroon;
       height: 100px; }
h1 { margin-top: 10px;
   padding-top: 25px;
   text-indent: 20%;
   font-size: 42px;
   white-space: nowrap;
   overflow: hidden; }
button { background-color: #CCAA66; //
		border: none;
		color: maroon;
		padding: 10px 22px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-family: verdana, arial, sans-serif;
		font-weight: bold;
		border-radius: 8px;
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;
		font-size: 18px;
		position: center;
}
.gradebookbutton { background-color: #CCAA66; //
		border: none;
		color: maroon;
		padding: 8px 10px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-family: verdana, arial, sans-serif;
		font-weight: bold;
		border-radius: 8px;
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;
		font-size: 12px;
		position: center;
}
a { color: maroon;
	text-decoration: none; }
nav { float: left;
    width: 100px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-size: 1.2em; }
nav a { text-decoration: none;
       padding-bottom: 15px; }
nav a:link { color: #996633; }
nav a:visited { color: #CCAA66; }
nav a:hover { color: maroon; }
nav ul { list-style-type: none; }
footer { background-color: #CCAA66;
       color: #000000;
       font-size: .60em;
       font-style: italic;
       text-align: center;
       padding-top: 20px;
       padding-bottom: 20px;
       clear: both; }
footer a:link { color: #FFFFCC; }
footer a:visited { color: #F2EAB7; }
footer a:hover { color: #333300; }
#wrapper { width: 80%;
         margin-right: auto;
         margin-left: auto;
         background-color: #FFFFCC;
         min-width: 700px; max-width: 1024px;
         box-shadow: 3px 3px 3px #1E1E1E;
		 margin-top: 40px;	}
h2 { text-transform: uppercase;
   background-color: #FFFFCC;
   color: maroon;
   font-size: 20px;
   border-bottom: 1px solid #000000;
   padding: 5px 0 0 5px;
   margin-right: 240px;
   clear: left; }
h3 { text-transform: uppercase;
   background-color: #FFFFCC;
   color: maroon;
   font-size: 18px;
   border-bottom: 1px solid #000000;
   padding: 5px 0 0 5px;
   margin-right: 240px;
   clear: left; }
h4 { color: maroon;
   font-size: 16px;
   padding: 5px 0 0 5px;
   margin-right: 240px;
   clear: left; }
caption { color: maroon;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 18px;
   padding: 5px 0 0 5px;
   clear: left; }
main { padding-top: 10px; padding-bottom: 30px;
     padding-left: 20px; padding-right: 20px;
     margin-left: 150px;
     background-color: #F2EAB7;
     color: #000000; /**/
     overflow: auto; }

.floatright { float: right;
            padding-left: 20px;
			padding-top: 35px;
			padding-bottom: 10px; }

.details { padding-left: 20%;
         padding-right: 20%;
         overflow: auto; }
img { border-style: none; }
.floatleft { float: left;
           padding-right: 20px;
           padding-bottom: 20px; }
header, nav, main, footer { display: block; }
#mobile { display: none; }
#desktop { display: inline; }
table { margin-top: auto;
      width: 90%;
      border-spacing: 0;
      background-color: #FFFFCC; }
td, th { padding: 10px;
		text-align: center; }
tr:nth-of-type(odd) { background-color: #CCAA66; }
tr:nth-of-type(odd) button{ background-color: #F2EAB7; }
label { float: left;
      display: block;
      text-align: right;
      width: 8em;
      padding-right: 10px; }
input, textarea, select { display: block;
                margin-bottom: 1em; }
select { color: maroon;
        text-transform: uppercase;
        font-weight: bold;
}
#mySubmit { margin-left: 12em; }

@media only screen and (max-width: 1024px) {
  body { margin: 0;
       background-image: none; }
  #wrapper{ width: auto;
          min-width: 0;
          margin: 0;
          box-shadow: none; }
  header { background-color: #CCAA66;
         background-position: center;
         background-repeat: no-repeat;
         height: 80px; }
  nav { float: none;
      width: auto;
      padding-top: 0;
      margin-top: 0; }
  nav li { display: inline-block; }
  nav a { padding: 1em;
        font-size: 1.3em;
        width: 8em;
        font-weight: bold;
        border-style: none; }
  nav ul { padding: 0;
         margin: 0; }
  main { padding: 2em;
       margin: 0;
       font-size: 90%; }
}
@media only screen and (max-width: 768px) {
  nav a { display: block;
        padding: .2em;
        width: auto;
        border-bottom: 1px solid #330000; }
  nav li { display: block; }
  h2 { padding-top: .5em;
     padding-right: 0;
     padding-bottom: 0;
     padding-left: .5em;
     margin-right: .5em; }
  .details { padding-left: 0;
           padding-right: 0; }
  .floatright { display: none; }
  .floatleft { padding-left: .5em;
             padding-right: .5em; }
  #mobile { display: inline; }
  #desktop { display: none; }
}
